body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.weatherApp {
  max-width: 500px;
  margin: 40px auto;
  border: 1px solid rgb(219, 219, 219);
  padding: 30px;
  border-radius: 5px;
}

h1 {
  text-align: left;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  text-align: left;
  font-size: 13px;
  font-weight: 100;
  list-style: none;
  text-transform: capitalize;
}

.weather-temperature img {
  margin-right: 7px;
  margin-left: -5px;
}

.weather-temperature strong {
  font-size: 50px;

  font-weight: 300;
}

.weather-temperature small {
  line-height: 1;
  font-weight: 300;
  position: relative;
  font-size: 14px;
  top: -24px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
